.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding: 100px 10px 20px; /* Aumenta espacio superior */
    min-height: 100vh; /* Altura mínima para evitar solapamientos */
    box-sizing: border-box;
    max-width: 1200px;
}

/* Título */
.contact-title {
    position: relative;
    text-align: center;
}

.contact-title h1 {
    padding: 0px;
    font-size: 2.5rem; /* Ajustado tamaño */
    font-weight: 800;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100px;
}

/* Sección de contacto */
.contact-section {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;
    margin-top: 20px; /* Espaciado entre título y formulario */
}

/* Columna izquierda */
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    max-width: 50%;
}

.contact-left h1 {
    font-size: 1.8rem; /* Tamaño reducido */
    font-weight: 700;
    background: linear-gradient(270deg, #8e2de2 80%, #00c6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 500px;
    font-size: 1rem; /* Reducir fuente */
    line-height: 1.6;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Columna derecha */
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 2rem;
    flex: 1;
    max-width: 50%;
}

.contact-right label {
    font-size: 0.8rem;
    font-weight: 400;
}

.contact-right input {
    border: none;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 0.9rem;
}

.contact-right textarea {
    border: none;
    width: 100%;
    padding: 20px;
    height: 200px;
    border-radius: 5px;
    background-color: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 0.9rem;
}

.contact-submit {
    border: none;
    margin-left: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    background: linear-gradient(264deg, #8e2de2 -5.09%, #00c6ff 100%);
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 550;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Responsividad */
@media (max-width: 1200px) {
    .contact {
        padding-top: 150px; /* Ajuste del padding superior */
        margin: 0 20px; /* Márgenes laterales */
    }

    .contact-section {
        flex-direction: row;
        gap: 10px;
    }

    .contact-right input {
        width: calc(100% - 40px); /* Ajuste ancho input */
        margin: 0 20px;
        height: 40px;
        font-size: 0.9rem;
    }

    .contact-right textarea {
        width: calc(100% - 40px); /* Ajuste ancho textarea */
        margin: 0 20px;
        height: 200px;
    }

    .contact-left h1,
    .contact-title h1 {
        font-size: 1.5rem;
    }

    .contact-left p {
        font-size: 1rem;
    }

    .contact-submit {
        width: 80%; /* Ajuste botón */
        font-size: 0.8rem;
    }
}

@media (max-width: 860px) {
    .contact {
        margin: 100px 20px; /* Ajuste margen superior */
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-left,
    .contact-right {
        max-width: 100%; /* Ajuste ancho 100% */
        margin: 0; /* Elimina margen */
    }

    .contact-right input {
        height: 35px;
    }

    .contact-left h1,
    .contact-title h1 {
        font-size: 1.4rem;
    }

    .contact-left p {
        font-size: 0.8rem;
    }

    .contact-details {
        font-size: 1rem;
    }

    .contact-submit {
        font-size: 0.7rem;
    }
}

@media (max-width: 550px) {
    .contact {
        margin: 150px 20px; /* Ajuste margen superior */
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-left,
    .contact-right {
        max-width: 100%; /* Ajuste ancho 100% */
        margin: 0; /* Elimina margen */
    }

    .contact-right input {
        height: 35px;
    }

    .contact-left h1,
    .contact-title h1 {
        font-size: 1.4rem;
    }

    .contact-left p {
        font-size: 0.8rem;
    }

    .contact-details {
        font-size: 1rem;
    }

    .contact-submit {
        font-size: 0.7rem;
    }
}
@media (max-width: 500px) {
    .contact {
       margin: 230px 0 0;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-left,
    .contact-right {
        max-width: 100%; /* Ajuste ancho 100% */
        margin: 0; /* Elimina margen */
    }

    .contact-right input {
        height: 35px;
    }

    .contact-left h1,
    .contact-title h1 {
        font-size: 1.4rem;
    }

    .contact-left p {
        font-size: 0.8rem;
    }

    .contact-details {
        font-size: 1rem;
    }

    .contact-submit {
        font-size: 0.7rem;
    }
}

/* Última media query para resoluciones más pequeñas */
@media (max-width: 450px) {
    .contact {
        margin: 20px;
        padding-top: 80px; /* Ajuste del padding superior */
    }

    .contact-title h1 {
        font-size: 1.5rem;
    }

    .contact-left p {
        font-size: 0.8rem;
    }
}
