@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: "Roboto Slab";
    font-size: 18px;
    
}